<% @articles.each do |article| %>
  <h2><%= link_to "#{article.title}", article %></h2>
  <%== article.Content %>
  <p class="date"><%= article.user.first_name %> <%= image_tag("more.gif") %>  <%= link_to "Read more", article %></p>
  
<% end %>

